<%= render "shared/header" %>

<%= link_to 'シフトの追加', new_shift_path %>

<%= month_calendar events: @shifts do |date, shifts| %>
  <%= date.day %>

  <% shifts.each do |shift| %>
    <div>
      <%= shift.title %>
    </div>
  <% end %>
<% end %>
